.Board
    padding: 2rem
    height:80vh
    // width: 20rem
    width: 80vw

    .flex-vert
        display: flex
        flex-direction: column
        justify-content: space-around
        height: 100%
        width: 100%

    .flex-hor
        display: flex
        flex-direction: row
        justify-content: space-around
        height: 100%
        width: 100%