.Board
    display: flex

    .flex-vert
        display: flex
        flex-direction: column
        justify-content: center
        height: 100%
        width: 100%
        margin: 2.5rem 5rem

    .flex-hor
        display: flex
        flex-direction: row
        justify-content: center
        height: 100%
        width: 100%
        margin: 2.5rem 0

    .selection
        position: absolute
        height: 10rem
        width: 10rem
        z-index: 5
        display: flex
        justify-content: center
        flex: 1
        margin: auto

        .bread-container
            margin: 2rem
            flex: 1
            position: relative

            .slice-container
                position: absolute
                width: 100%
                height: 100%
                display: flex

.solved-container
    position: absolute
    height: 100vh
    width: 100vw
    display: flex
    justify-content: center

    .solved
        font-family: Rubik, sans-serif
        font-size: 12rem
        font-weight: 800
        color: #bbb
        margin: auto
        z-index: 10
        rotate: -2deg
        pointer-events: none
        text-shadow: 0.5rem 1rem 0 #ddd

.tutorial-container
    position: absolute
    width: 100vw
    display: flex
    justify-content: center
    bottom: 0

    .tutorial
        font-family: Rubik, sans-serif
        font-size: 5rem
        font-weight: 800
        color: #bbb
        margin: auto
        z-index: 5