.Bread
    flex:1
    position: relative
    max-width: 20rem
    max-height: 11rem


    .absolute-container
        position: absolute
        width: 100%
        height: 100%
        display: flex

        .slice
            background-color: #f8ddb4
            border: solid 1rem #e7a650
            border-radius: 5rem 5rem 0.4rem 0.4rem
            width: 100%
            box-shadow: 6px 6px 1px rgba(130, 130, 130, 0.33)

            &:after
                content: ""
                height: 1rem
                width: calc(100% + 2rem)
                position: absolute
                top: calc(100% + 0.5rem)
                left: -1rem
                background-color: #d79948
                border-radius: 0.2rem 0.2rem 0.5rem 0.5rem
            
        .peanut
            background-color: #a76e2d
            margin: 1.25rem
            border-radius: 5rem 5rem 2rem 2rem
            rotate: -2deg
            width: 100%

        .jam
            background-color: #e0303f
            margin: 1.25rem
            border-radius: 5rem 5rem 2rem 2rem
            rotate: 2deg
            width: 100%

        &.behind
            top: 2rem
