.Bread
    flex:1
    position: relative
    max-width: 20rem
    max-height: 11rem
    pointer-events: all
    &:active
        cursor: grabbing

    .absolute-container
        position: absolute
        width: 100%
        height: 100%
        display: flex
        pointer-events: none

        .shadow
            height: 1rem
            width: 100%
            position: absolute
            top: calc(100% - 1rem)
            background-color: rgba(0, 0, 0, 0.1)
            border-radius: 0.2rem 0.2rem 0.5rem 0.5rem

        .slice
            background-color: #f8ddb4
            border: solid 1rem #e7a650
            border-bottom: solid 1.5rem #e7a650
            border-radius: 5rem 5rem 0.4rem 0.4rem
            width: 100%
            box-shadow: 6px 6px 1px rgba(0, 0, 0, 0.1)

            
        .peanut
            background-color: #a76e2d
            margin: 1.25rem
            border-radius: 5rem 5rem 2rem 2rem
            rotate: -2deg
            width: 100%

        .jam
            background-color: #e0303f
            margin: 1.25rem
            border-radius: 5rem 5rem 2rem 2rem
            rotate: 2deg
            width: 100%

        &.behind
            top: 2rem
