.Bread
    display: flex
    flex:1
    position: relative

    .slice
        background-color: #f8ddb4
        border: solid 1rem #e7a650
        border-radius: 5rem 5rem 0.4rem 0.4rem
        // flex: 1
        position: absolute
        width: calc(100% - 2rem)
        height: calc(100% - 2rem)

    .peanut
        background-color: #a7762d
        margin: 1.5rem
        border-radius: 5rem 5rem 2rem 2rem
        position: absolute
        rotate: -2deg
        width: 85%
        height: 85%

    .jam
        background-color: #e0303f
        margin: 1.5rem
        border-radius: 5rem 5rem 2rem 2rem
        position: absolute
        rotate: 2deg
        width: 85%
        height: 85%

    .behind
        top: 1.5rem
        rotate: 5deg
        width: calc(100% - 2rem)
        height: calc(100% - 2rem)
        left: -1rem
